name: Windows MSVC Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run build
        # --config Release is important for multi-configuration generators like VS
        run: |
          cd cpp
          mkdir build
          cmake -B build -G "Visual Studio 17 2022"
          cmake --build build --config Release

      - name: Run tests (if applicable)
        # You can replace this with ctest, or a specific test runner command
        run: |
          cpp/build/example/Release/example.exe

